section.visor {
  width: calc(100% - 320px);
  background-color: var(--colorFondo2) !important;
  z-index: 3;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.back {
  height: calc(100% + 100px);
  width: 100%;
  position: fixed;
  filter: blur(15px) grayscale(100%);
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-55%);
}

.fonrt {
  position: relative;
  z-index: 2;
  width: auto;
  /* pointer-events: all; */
}

.ifr {
  width: 90vw;
  height: 50.625vw;
  /* 90*9/16 */
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.8);
}

.fonrt>span {
  color: #ffffff;
  width: 45px;
  height: 45px;
  font-size: 1.2rem;
  background-color: #f5f5dc20;
  border-radius: 50%;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

span#play {
  position: absolute;
  left: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
}

span#volumen {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

span.close-visor {
  color: #ffffff;
  font-size: 22pt;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media (min-width: 893px) {
  .ifr {
    width: 60vw;
    height: calc(calc(60vw * 9) / 16);
    /* 45*9/16 */
  }
}

@media (max-width: 800px) {
  .back {
    width: auto;
  }
  section.visor {
    width: 100%;
  }

  span#volumen {
    right: 1rem;
    bottom: 1rem;
    margin: auto;
  }
  
}